<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
        <!-- customer form group -->
        <div formGroupName="customer" class="form-area non-selectable">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" />
                <div
                  *ngIf="
                    firstName?.invalid &&
                    (firstName?.dirty || firstName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      firstName?.hasError('required') ||
                      firstName?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    First name is required
                  </div>
                  <div *ngIf="firstName?.hasError('minlength')">
                    First name must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" />
                <div
                  *ngIf="
                    lastName?.invalid && (lastName?.dirty || lastName?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      lastName?.hasError('required') ||
                      lastName?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    Last name is required
                  </div>
                  <div *ngIf="lastName?.hasError('minlength')">
                    Last name must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="email" />
                <div
                  *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      email?.hasError('required') ||
                      email?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    Email is required
                  </div>
                  <div *ngIf="email?.hasError('pattern')">
                    Email must be a valid email address format
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- shipping address form group -->
        <div formGroupName="shippingAddress" class="form-area non-selectable">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('shippingAddress')"
                  type="text"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />
                <div
                  *ngIf="
                    shippingAddressStreet?.invalid &&
                    (shippingAddressStreet?.dirty ||
                      shippingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      shippingAddressStreet?.hasError('required') ||
                      shippingAddressStreet?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    Address is required
                  </div>
                  <div *ngIf="shippingAddressStreet?.hasError('minlength')">
                    Address must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
                <div
                  *ngIf="
                    shippingAddressCity?.invalid &&
                    (shippingAddressCity?.dirty || shippingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      shippingAddressCity?.hasError('required') ||
                      shippingAddressCity?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    City is required
                  </div>
                  <div *ngIf="shippingAddressCity?.hasError('minlength')">
                    City must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" type="text">
                  <option
                    *ngFor="let state of shippingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
                <div
                  *ngIf="
                    shippingAddressZipCode?.invalid &&
                    (shippingAddressZipCode?.dirty ||
                      shippingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      shippingAddressZipCode?.hasError('required') ||
                      shippingAddressZipCode?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    ZipCode is required
                  </div>
                  <div *ngIf="shippingAddressZipCode?.hasError('minlength')">
                    ZipCode must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="input-space">
          <label class="au-checkbox">
            <input
              type="checkbox"
              (change)="copyShippingAddressToBillingAddress($event)"
            />
            <span class="au-checkmark"></span>Billing Address same as Shipping
            Address
          </label>
        </div>

        <!-- billing address form group -->
        <div formGroupName="billingAddress" class="form-area non-selectable">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="country"
                  (change)="getStates('billingAddress')"
                  type="text"
                >
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" />\
                <div
                  *ngIf="
                    billingAddressStreet?.invalid &&
                    (billingAddressStreet?.dirty ||
                      billingAddressStreet?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      billingAddressStreet?.hasError('required') ||
                      billingAddressStreet?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    Address is required
                  </div>
                  <div *ngIf="billingAddressStreet?.hasError('minlength')">
                    Address must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text" />
                <div
                  *ngIf="
                    billingAddressCity?.invalid &&
                    (billingAddressCity?.dirty || billingAddressCity?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      billingAddressCity?.hasError('required') ||
                      billingAddressCity?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    City is required
                  </div>
                  <div *ngIf="billingAddressCity?.hasError('minlength')">
                    City must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" type="text">
                  <option
                    *ngFor="let state of billingAddressStates"
                    [ngValue]="state"
                  >
                    {{ state.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" />
                <div
                  *ngIf="
                    billingAddressZipCode?.invalid &&
                    (billingAddressZipCode?.dirty ||
                      billingAddressZipCode?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      billingAddressZipCode?.hasError('required') ||
                      billingAddressZipCode?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    ZipCode is required
                  </div>
                  <div *ngIf="billingAddressZipCode?.hasError('minlength')">
                    ZipCode must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- credit card form group -->
        <div formGroupName="creditCard" class="form-area non-selectable">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2"><label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType" type="text">
                  <option>VISA</option>
                  <option>MASTER CARD</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Name on Card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" />
                <div
                  *ngIf="
                    creditCardNameOnCard?.invalid &&
                    (creditCardNameOnCard?.dirty ||
                      creditCardNameOnCard?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      creditCardNameOnCard?.hasError('required') ||
                      creditCardNameOnCard?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    Name is required
                  </div>
                  <div *ngIf="creditCardNameOnCard?.hasError('minlength')">
                    Name must be have at least 2 characters long
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Card number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="number" />
                <div
                  *ngIf="
                    creditCardNumber?.invalid &&
                    (creditCardNumber?.dirty || creditCardNumber?.touched)
                  "
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      creditCardNumber?.hasError('required') ||
                      creditCardNumber?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    Card number is required
                  </div>
                  <div *ngIf="creditCardNumber?.hasError('pattern')">
                    Card number must be 16 digits
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Security code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="number" />
                <div
                  *ngIf="creditSecurityCode?.invalid && (creditSecurityCode?.dirty || creditSecurityCode?.touched)"
                  class="alert alert-danger mt-1"
                >
                  <div
                    *ngIf="
                      creditSecurityCode?.hasError('required') ||
                      creditSecurityCode?.hasError('notOnlyWhiteSpace')
                    "
                  >
                    Security code is required
                  </div>
                  <div *ngIf="creditSecurityCode?.hasError('pattern')">
                    Security code  must be 3 digits
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Expiration Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth" type="text">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Expiration Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select
                  formControlName="expirationYear"
                  (change)="handleMonthsAndYears()"
                  type="text"
                >
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
